In [1]:
def findNumber(arr, k):
    # Write your code here
    for i in arr[i]:
        if arr[i]==k:
            s="YES"
            
        else: s="NO"
    return s

In [2]:
arr=array(2,5,5)

NameError: name 'array' is not defined

In [ ]:
from array import  array

In [ ]:
arr=array('i', [2,5,5,8,9])

In [ ]:
type(arr)

In [ ]:
arr[4]

In [ ]:
def oddNumbers(l, r+1):
    # Write your code here
    ls=[]
    for i in range(l,r):
        
        if i%2!=0:
            ls.append(i)
            
    return ls

In [ ]:
oddNumbers(2,9)

In [ ]:
ls=range(2,9)

In [ ]:
for i in range(2,9): print(i)

In [ ]:
print(2+3)
print(2-3)

In [ ]:
l=[]
for i in range(1,9):
    l.append(str(i))

In [ ]:
l

In [ ]:
l="".join(l)

In [ ]:
l

In [ ]:
l

In [ ]:
name=["dev","malli","santu"]
marks=[21,35,68]

In [ ]:
for _ in range(int(input())):
        name = input()
        score = float(input())

In [ ]:
type(score)

In [ ]:
l=[]
for _ in range(int(input())):
        name = input()
        score = float(input())
        l.append([name,score])

In [ ]:
l

In [ ]:
l[1][1]

In [ ]:
num=[]
for i in range(0,len(l)):
    num.append(l[i][1])

In [ ]:
num

In [ ]:
min(num)

In [ ]:
l.sort()

In [3]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()

5
deva 25 86 99
sant 45 88 77
malli 77 95 41
abhi 11 45 65
kiran 22 44 55
malli

In [19]:
for i in list(student_marks.keys()):
        if query_name==student_marks.keys()[i]:
            avg=Average(student_marks.keys()[i])
            
print(sround(avg, 2))

TypeError: 'dict_keys' object is not subscriptable

In [6]:
name

'kiran'

In [9]:
scores

[22.0, 44.0, 55.0]

In [10]:
student_marks

{'deva': [25.0, 86.0, 99.0],
 'sant': [45.0, 88.0, 77.0],
 'malli': [77.0, 95.0, 41.0],
 'abhi': [11.0, 45.0, 65.0],
 'kiran': [22.0, 44.0, 55.0]}

In [14]:
list(student_marks.keys())

['deva', 'sant', 'malli', 'abhi', 'kiran']

In [21]:
list(student_marks.keys()[1])

TypeError: 'dict_keys' object is not subscriptable

In [22]:
marks=student_marks.get(query_name)

In [23]:
marks

[77.0, 95.0, 41.0]

In [25]:
avg= float(sum(marks)/len(marks)

In [55]:
avg2=float(75.0)

In [57]:
list=student_marks.get(query_name)
    
print(round(avg2, 2))

75.0

In [63]:
n1 = input()
n2 = input()
tf=()

45 4
2 3

In [64]:
type(tf)

tuple

In [67]:
n1

'45 4'

In [68]:
list(n1)

TypeError: 'list' object is not callable

In [69]:
l1=list(input())

4 5 6 7

TypeError: 'list' object is not callable

In [1]:
N,X,K = map(int,input().split())
S = input()

10 5 10
1234567891

In [5]:
kk

[1, 2, 3, 5, 6]

In [6]:
kk[0]

1

In [7]:
S

'1234567891'

In [10]:
type(S)

str

In [12]:
S[3]

'4'

In [15]:
for i in range(0,len(S)):
    print(S[i])

1
2
3
4
5
6
7
8
9
1

In [ ]:
for i in range(0,len(S)):

In [ ]:
for j in range((((i-1)*X+1), min(N,(i*X)))

In [19]:
num_block=N//X

i=1
list=[]

while i<=num_block:
    for j in range(((i-1)*X+1), min(N,(i*X))):
                   print(S[j-1])
    i=i+1

1
2
3
4
6
7
8
9

In [48]:
ls3=[]
i=1
for j in range(((i-1)*X+1), min(N,(i*X))+1):
    ls3.append(S[j-1])
ls3=["".join(ls3)]

In [49]:
ls3

['12345']

In [54]:
num_block=N//X

i=1
list_n=[]

while i<=num_block:
    for j in range(((i-1)*X+1), min(N,(i*X))+1):
        list_n.append(S[j-1])
        list_n=["".join(ls3)]
    i=i+1

In [55]:
list_n

['12345']

In [78]:
for i in range(1,3):
    
    
    print(range(((i-1)*X+1)-1, min(N,(i*X)-1)))

range(0, 4)
range(5, 9)

In [79]:
num_block=N//X

i=1
list_n=[]

while i<=num_block:
    for j in range(((i-1)*X+1)-1, min(N,(i*X))):
        list_n.append(S[j])
        list_n=["".join(ls3)]
    i=i+1

In [80]:
list_n

['12345']

In [84]:
num_block=N//X

i=1
list_n=[]

while i<=num_block:
    print("Block")
    for j in range(((i-1)*X+1)-1, min(N,(i*X))):
        print(S[j])
        
    i=i+1

Block
1
2
3
4
5
Block
6
7
8
9
1

In [127]:
num_block=N//X

i=1
list_n=[]

while i<=num_block:
    print("Block")
    for j in range(((i-1)*X+1)-1, min(N,(i*X))):
        list_n.append(S[j])       
        print(S[j])
    
    i=i+1

Block

IndexError: list index out of range

In [104]:
list_n

['1', '2', '3', '4', '5', '6', '7', '8', '9', '1']

In [107]:
a=Array()

NameError: name 'Array' is not defined

In [108]:
import array

In [110]:
a=Array()

NameError: name 'Array' is not defined

In [112]:
import numpy as np

In [121]:
a=np.array()

TypeError: array() missing required argument 'object' (pos 1)

In [124]:
arr=np.array[[]]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [123]:
type(arr)

list

In [128]:
num_block=N//X

i=1
list_n=[]

while i<=num_block:
    print("Block")
    for j in range(((i-1)*X+1)-1, min(N,(i*X))):
              
        print(S[j])
    
    i=i+1

Block
1
2
3
4
5
Block
6
7
8
9
1

In [164]:
num_block=N//X

i=1
list_n=[]
dummy=[]
while i<=num_block:
    
    print("Block")
    dummy=[]
    for j in range(((i-1)*X+1)-1, min(N,(i*X))):
        dummy.append(S[j])       
        print(S[j])
    list_n.append(dummy)
    i=i+1
print(list_n)

Block
1
2
3
4
5
Block
6
7
8
9
1
[['1', '2', '3', '4', '5'], ['6', '7', '8', '9', '1']]

In [149]:
len(list_n[0])

5

In [159]:
comb=[]
for i in range(0, len(list_n)):
    for j in range(0, len(list_n[i])):
        print(list_n[i][j])

1
2
3
4
5
6
7
8
9
1

In [162]:
l=int(str(list_n[0][0])+str(list_n[1][0]))

In [163]:
l

16

In [165]:
N,X,K = map(int,input().split())
S = input()

9 3 11
123456789

In [166]:
num_block=N//X

i=1
list_n=[]
dummy=[]
while i<=num_block:
    
    print("Block")
    dummy=[]
    for j in range(((i-1)*X+1)-1, min(N,(i*X))):
        dummy.append(S[j])       
        print(S[j])
    list_n.append(dummy)
    i=i+1
print(list_n)

Block
1
2
3
Block
4
5
6
Block
7
8
9
[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [167]:
type(list_n)

list

In [193]:
ls=[]
for i in range(0, len(list_n)):
    st=""
    for j in range(0, len(list_n[i])):
        
        st=st+list_n[j][i]
    print(st)
    ls.append(int(st))

147
258
369

In [195]:
ls

[147, 258, 369]

In [169]:
st=""

In [170]:
type(st)

str

In [173]:
st=st+list_n[0][1]

In [175]:
st+list_n[0][1]

'22'

In [211]:
i=0
j=0

ls=[]
while i <len(list_n):
    st=""
    while j<len(list_n[i]):
        
        st=st+list_n[j][i]
        j=j+1
        
    i=i+1 
    print(st)
    break

147

In [200]:
i=0
j=0
while j<len(list_n[i]):
        st=st+list_n[j][i]
        j=j+1

In [212]:
ls=[]
for i in range(0, len(list_n)):
    st=""
    for j in range(0, len(list_n[i])):
        
        st=st+list_n[j][i]
        
        
        
    print(st)
    ls.append(int(st))

147
258
369

In [224]:
ls=[]
st=""
for j in range(0, 3):
    st=st+list_n[j][0]
print(st)

147

In [225]:
ls

[]

In [227]:
def create_valid_numbers(s, X):
    n = len(s)
    valid_numbers = []

    for i in range(1, X + 1):
        start = (i - 1) * n // X
        end = min(i * n // X, n)

        if start < end:
            valid_numbers.append(s[start:end])

    return valid_numbers

# Example usage
s = "123456789"
X = 8
result = create_valid_numbers(s, X)
print(result)

['1', '2', '3', '4', '5', '6', '7', '89']

In [229]:
def generate_valid_numbers(s, X):
    n = len(s)
    valid_numbers = []
    
    for i in range(X):
        start = i * n // X
        end = (i + 1) * n // X
        block = s[start:end]
        valid_numbers.append(block)
    
    return valid_numbers

def find_sorted_unique_valid_number(s, X):
    valid_numbers = generate_valid_numbers(s, X)
    
    def backtrack(index, current):
        if index == X:
            return [current]
        
        result = []
        for digit in valid_numbers[index]:
            result.extend(backtrack(index + 1, current + digit))
        
        return result
    
    all_possible_numbers = backtrack(0, "")
    unique_valid_numbers = list(set(all_possible_numbers))
    sorted_unique_numbers = sorted(unique_valid_numbers)
    result = ''.join(sorted_unique_numbers)
    
    return result

# Example usage
s = '123456789'
X = 3
result = find_sorted_unique_valid_number(s, X)
print(result)

TypeError: 'list' object is not callable

In [30]:
from os import listdir
import os
import re
import json
import shutil
import pandas as pd

In [31]:
def read_json_file(file_path:str)->dict:
    """
    Reads a json file and returns the contents as a dictionary.
    file_path: str
    """
    with open(file_path, 'r') as json_file:
        return json.load(json_file)

In [32]:
d=read_json_file("F:\Fraud detection\config\schema.json")

In [33]:
d

{'SampleFileName': 'fraudDetection_021119920_010222.csv',
 'LengthOfDateStampInFile': 9,
 'LengthOfTimeStampInFile': 6,
 'NumberofColumns': 39,
 'ColName': {'months_as_customer': 'Integer',
  'age': 'Integer',
  'policy_number': 'Integer',
  'policy_bind_date': 'varchar',
  'policy_state': 'varchar',
  'policy_csl': 'varchar',
  'policy_deductable': 'Integer',
  'policy_annual_premium': 'Integer',
  'umbrella_limit': 'Integer',
  'insured_zip': 'Integer',
  'insured_sex': 'varchar',
  'insured_education_level': 'varchar',
  'insured_occupation': 'varchar',
  'insured_hobbies': 'varchar',
  'insured_relationship': 'varchar',
  'capital-gains': 'Integer',
  'capital-loss': 'Integer',
  'incident_date': 'varchar',
  'incident_type': 'varchar',
  'collision_type': 'varchar',
  'incident_severity': 'varchar',
  'authorities_contacted': 'varchar',
  'incident_state': 'varchar',
  'incident_city': 'varchar',
  'incident_location': 'varchar',
  'incident_hour_of_the_day': 'Integer',
  'number_of_vehicles_involved': 'Integer',
  'property_damage': 'varchar',
  'bodily_injuries': 'Integer',
  'witnesses': 'Integer',
  'police_report_available': 'varchar',
  'total_claim_amount': 'Integer',
  'injury_claim': 'Integer',
  'property_claim': 'Integer',
  'vehicle_claim': 'Integer',
  'auto_make': 'varchar',
  'auto_model': 'varchar',
  'auto_year': 'Integer',
  'fraud_reported': 'varchar'}}

In [9]:
d[ 'NumberofColumns']

39

In [23]:
import pandas as pd

In [24]:
data=pd.read_csv("insurance_claims.csv", header=0)

In [25]:
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [6]:
data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [26]:
csv_columns = data.columns.tolist()

In [27]:
csv_columns

['months_as_customer',
 'age',
 'policy_number',
 'policy_bind_date',
 'policy_state',
 'policy_csl',
 'policy_deductable',
 'policy_annual_premium',
 'umbrella_limit',
 'insured_zip',
 'insured_sex',
 'insured_education_level',
 'insured_occupation',
 'insured_hobbies',
 'insured_relationship',
 'capital-gains',
 'capital-loss',
 'incident_date',
 'incident_type',
 'collision_type',
 'incident_severity',
 'authorities_contacted',
 'incident_state',
 'incident_city',
 'incident_location',
 'incident_hour_of_the_day',
 'number_of_vehicles_involved',
 'property_damage',
 'bodily_injuries',
 'witnesses',
 'police_report_available',
 'total_claim_amount',
 'injury_claim',
 'property_claim',
 'vehicle_claim',
 'auto_make',
 'auto_model',
 'auto_year',
 'fraud_reported',
 '_c39']

In [36]:
keys = list(d.keys())

In [37]:
keys

['SampleFileName',
 'LengthOfDateStampInFile',
 'LengthOfTimeStampInFile',
 'NumberofColumns',
 'ColName']

In [38]:
json_keys=list(d['ColName'].keys())

In [39]:
json_keys

['months_as_customer',
 'age',
 'policy_number',
 'policy_bind_date',
 'policy_state',
 'policy_csl',
 'policy_deductable',
 'policy_annual_premium',
 'umbrella_limit',
 'insured_zip',
 'insured_sex',
 'insured_education_level',
 'insured_occupation',
 'insured_hobbies',
 'insured_relationship',
 'capital-gains',
 'capital-loss',
 'incident_date',
 'incident_type',
 'collision_type',
 'incident_severity',
 'authorities_contacted',
 'incident_state',
 'incident_city',
 'incident_location',
 'incident_hour_of_the_day',
 'number_of_vehicles_involved',
 'property_damage',
 'bodily_injuries',
 'witnesses',
 'police_report_available',
 'total_claim_amount',
 'injury_claim',
 'property_claim',
 'vehicle_claim',
 'auto_make',
 'auto_model',
 'auto_year',
 'fraud_reported']

In [41]:
common_columns = set(csv_columns).intersection(json_keys)

# Check for missing or extra columns
missing_columns = list(set(json_keys) - common_columns)
extra_columns = list(set(csv_columns) - common_columns)

# Print comparison results
print("Columns in CSV file:", csv_columns)
print("Keys in JSON dictionary:", json_keys)
print("Common columns/keys:", list(common_columns))
print("Missing columns in CSV:", missing_columns)
print("Extra columns in CSV:", extra_columns)

Columns in CSV file: ['months_as_customer', 'age', 'policy_number', 'policy_bind_date', 'policy_state', 'policy_csl', 'policy_deductable', 'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex', 'insured_education_level', 'insured_occupation', 'insured_hobbies', 'insured_relationship', 'capital-gains', 'capital-loss', 'incident_date', 'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted', 'incident_state', 'incident_city', 'incident_location', 'incident_hour_of_the_day', 'number_of_vehicles_involved', 'property_damage', 'bodily_injuries', 'witnesses', 'police_report_available', 'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make', 'auto_model', 'auto_year', 'fraud_reported', '_c39']
Keys in JSON dictionary: ['months_as_customer', 'age', 'policy_number', 'policy_bind_date', 'policy_state', 'policy_csl', 'policy_deductable', 'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex', 'insured_education_level', 'insured_occupation', 'insured_hobbies', 'insured_relationship', 'capital-gains', 'capital-loss', 'incident_date', 'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted', 'incident_state', 'incident_city', 'incident_location', 'incident_hour_of_the_day', 'number_of_vehicles_involved', 'property_damage', 'bodily_injuries', 'witnesses', 'police_report_available', 'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make', 'auto_model', 'auto_year', 'fraud_reported']
Common columns/keys: ['property_damage', 'insured_sex', 'insured_relationship', 'insured_education_level', 'insured_hobbies', 'total_claim_amount', 'insured_zip', 'auto_model', 'capital-loss', 'witnesses', 'months_as_customer', 'auto_make', 'incident_location', 'fraud_reported', 'police_report_available', 'incident_severity', 'umbrella_limit', 'incident_type', 'policy_state', 'vehicle_claim', 'auto_year', 'incident_state', 'age', 'bodily_injuries', 'number_of_vehicles_involved', 'policy_number', 'policy_deductable', 'collision_type', 'policy_bind_date', 'insured_occupation', 'incident_city', 'property_claim', 'policy_csl', 'injury_claim', 'policy_annual_premium', 'incident_hour_of_the_day', 'incident_date', 'authorities_contacted', 'capital-gains']
Missing columns in CSV: []
Extra columns in CSV: ['_c39']

In [1]:
import os

In [26]:
lss='Fraud detection\\src\\artifact\\data_ingestion'

In [29]:
os.listdir(lss)

['2023-12-26-11-17-38',
 '2023-12-26-11-50-32',
 '2023-12-26-20-30-33',
 '2023-12-26-20-42-36',
 '2023-12-26-20-45-25',
 '2023-12-27-09-41-27',
 '2023-12-27-10-09-43',
 '2023-12-27-10-13-53',
 '2023-12-27-10-24-58',
 '2023-12-27-10-28-46',
 '2023-12-27-10-31-49',
 '2023-12-27-10-34-52',
 '2023-12-27-10-35-29']

In [34]:
os.listdir(lss)[-2]

'2023-12-27-10-34-52'

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("insurance_claims.csv")

In [5]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [6]:
df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [11]:
d2=pd.read_csv("new_insurance_claims.csv")

In [16]:
d2.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [17]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         1 non-null      object
dtypes: float64(1), int64(17), object(22)
memory usage: 312.6+ KB